/* Following are the presentation styles -- edit away! */

body {
    color: #000;
    font-size: 2em;
    background-position:  left;
    font-family: Verdana, Helvetica, sans-serif;
}
:link, :visited {text-decoration: none; color: #00C;}

div.slide h1 {
    margin: -2ex 0pt 1.0em 0pt; /* overlap header */
    padding: 0;
}

div.getfirebug h1 {
    padding-right: 10px;
    text-align: right;
}
div.almaden h1 {
    text-align: left;
    margin-left: 0.5em;
}
div.header {
    text-align: right;
    font-size: 1em;
}
.header, .footer {
    background: #9BCD9B;
    color: #2F4F4F;
    font-family: Verdana, Helvetica, sans-serif;
}
.header {
    background: #9BCD9B /*url(almaden_aerial.jpg) */no-repeat;
    height: 112px;
 }

div.rhs {
    position:relative;
    margin-right: 3em;
    float: right;
    z-index: 10
}
div.slide {
 background: url(stageBg.gif) repeat-x;
}
div.slide h2 {
    margin-left: 0.5em;
}

div.slide h3 {
    margin-left: 1em;
}
ul, pre {
    margin: 0;
    line-height: 1em;
}

html, body {
    margin: 0; padding: 0;
}

blockquote, q {font-style: italic;}
blockquote {padding: 0 2em 0.5em; margin: 0 1.5em 0.5em; text-align: center; font-size: 1em;}
blockquote p {margin: 0;}
blockquote i {font-style: normal;}
blockquote b {display: block; margin-top: 0.5em; font-weight: normal; font-size: smaller; font-style: normal;}
blockquote b i {font-style: italic;}

kbd {font-weight: bold; font-size: 1em;}
sup {font-size: smaller; line-height: 1px;}

.slide code {padding: 2px 0.25em; font-weight: bold; color: #533;}
.slide code.bad, code del {color: red;}
.slide code.old {color: silver;}
.slide pre {padding: 3px; margin: 0.25em 0 0.5em 0.5em; color: #533; font-size: 90%;}
.slide pre code {display: block;}
.slide ul {margin-left: 5%; margin-right: 7%; list-style: disc;}
.slide li {margin-top: 0.75em; margin-right: 0;}
.slide ul ul {line-height: 1ex;}
.slide ul ul li {margin: .2em; font-size: 85%; list-style: circle;}
.slide img.leader {display: block; margin: 0 auto;}

table {

}


.wrapper {
    width: 100%;
    height: 100%;
}

.content-tr {
    overflow: auto;
}
.content-tbody {
    height: 580px; /* 768 - 76 - 112 */
    }

tr.squeeze {
    height:100%;

}




.footer {
    font-size: 0.5em;
    font-weight: bold;
    padding: 1em 0;
    height: 76px;
}
.footer h1, #footer h2 {display: block; padding: 0 1em;}
.footer h2 {font-style: italic;}

.footer td:before {
    content:"Instant Medicine: Proposal";
    font-style:italic;
}

div.long {
    font-size: 0.75em;
}

div.slide {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

div.slide h1.slideTitle, span.slideTitle {
    display: block;
    font: bold 130%/1em Helvetica, sans-serif;
      color: #2F4F4F;
    padding-left: 221px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin: 0px;
    white-space: nowrap;
}

span.slidePretitle {
    font-style: italic;
}


.slide h3 {
    font-size: 130%;
}
h1 abbr {font-variant: small-caps;}


.ArchitectureBox {
    padding: 0.1em 0.1em 0.1em 0.1em;
    border: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
    background-color: #CCCCCC;
}

.Bridge {
    background-color: #99CCCC;
}

.CorrespondantSide {
    background-color: #9999CC;
}

.ARC_Contrib {
    color: black;
    background: #9BCD9B;
}
.LineArchitectureIMed {
    padding: 0.1em 0.1em 0.1em 0.1em;
    margin: 0.1em 0.2em 0.2em 0.1em;
}


.database {
    background-color: #FFFF99;
}

.citation {
    font-size: 0.5em;
}

.img852x480 {
    height: 9em;
}

button {
    vertical-align:text-bottom;
    margin-bottom:2px;
}

div.toolbar {
    color: blue;
}

/*.slide table {
    margin-left: 50px;
}*/
